.elementor-9
    .elementor-element.elementor-element-4f79e29b:not(.elementor-motion-effects-element-type-background),
.elementor-9
    .elementor-element.elementor-element-4f79e29b
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #00000000;
}
.elementor-9 .elementor-element.elementor-element-4f79e29b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    z-index: 10;
}
.elementor-9
    .elementor-element.elementor-element-4f79e29b
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9 .elementor-element.elementor-element-6543473e {
    text-align: left;
}
.elementor-9 .elementor-element.elementor-element-6543473e img {
    width: 28%;
    border-radius: 360px 360px 360px 360px;
}
.elementor-bc-flex-widget
    .elementor-9
    .elementor-element.elementor-element-657ee363.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-9
    .elementor-element.elementor-element-657ee363.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-9 .elementor-element.elementor-element-30e3ee9 {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-30e3ee9
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Staatliches", Sans-serif;
    font-weight: 600;
}
.elementor-bc-flex-widget
    .elementor-9
    .elementor-element.elementor-element-4714c163.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-9
    .elementor-element.elementor-element-4714c163.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-9 .elementor-element.elementor-element-ad6b8ca {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-ad6b8ca
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Staatliches", Sans-serif;
    font-weight: 600;
}
.elementor-bc-flex-widget
    .elementor-9
    .elementor-element.elementor-element-11185a1f.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-9
    .elementor-element.elementor-element-11185a1f.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-9 .elementor-element.elementor-element-64bd9e44 {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-64bd9e44
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Staatliches", Sans-serif;
    font-weight: 600;
}
.elementor-bc-flex-widget
    .elementor-9
    .elementor-element.elementor-element-7d7341bd.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-9
    .elementor-element.elementor-element-7d7341bd.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-9 .elementor-element.elementor-element-76d7237c .elementor-button {
    font-family: "Staatliches", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #bb00ff00;
    border-style: solid;
    border-color: #ad1fb3;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -2px 0px 6px 0px rgba(255, 255, 255, 0.11);
}
.elementor-9
    .elementor-element.elementor-element-76d7237c
    .elementor-button:hover,
.elementor-9
    .elementor-element.elementor-element-76d7237c
    .elementor-button:focus {
    background-color: #02010100;
    border-color: #ad1fb3;
}
.elementor-9
    .elementor-element.elementor-element-2659629f
    > .elementor-container {
    min-height: 765px;
}
.elementor-9
    .elementor-element.elementor-element-2659629f:not(.elementor-motion-effects-element-type-background),
.elementor-9
    .elementor-element.elementor-element-2659629f
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #090000;
    /* background-image: url("../../2024/01/Highway\ Sol\ \(1\).jpg"); */
}
.elementor-9 .elementor-element.elementor-element-2659629f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: -111px;
    margin-bottom: 0px;
}
.elementor-9
    .elementor-element.elementor-element-2659629f
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9
    .elementor-element.elementor-element-7eb35b51
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: -29px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 30px 0px 100px;
}
.elementor-9
    .elementor-element.elementor-element-7eb35b51
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9 .elementor-element.elementor-element-3d44c75b img {
    width: 28%;
}
.elementor-9
    .elementor-element.elementor-element-6e44a510
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Staatliches", Sans-serif;
    font-size: 58px;
    font-weight: 600;
}
.elementor-9
    .elementor-element.elementor-element-49d55d8d
    .elementor-heading-title {
    color: #ad1fb3;
    font-family: "Staatliches", Sans-serif;
    font-size: 165px;
    font-weight: 800;
    -webkit-text-stroke-width: 0.1px;
    stroke-width: 0.1px;
    -webkit-text-stroke-color: #ffffff;
    stroke: #ffffff;
}
.elementor-9
    .elementor-element.elementor-element-49d55d8d
    > .elementor-widget-container {
    margin: -14px 0px 0px 0px;
}
.elementor-9
    .elementor-element.elementor-element-2ed753ea
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Ruda", Sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.elementor-9
    .elementor-element.elementor-element-2ed753ea
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}
.elementor-9 .elementor-element.elementor-element-ab601d .elementor-button {
    font-family: "Staatliches", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #ad1fb3;
    border-style: solid;
    border-color: #ad1fb3;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -2px 0px 6px 0px rgba(255, 255, 255, 0.11);
}
.elementor-9
    .elementor-element.elementor-element-ab601d
    .elementor-button:hover,
.elementor-9
    .elementor-element.elementor-element-ab601d
    .elementor-button:focus {
    background-color: #02010100;
    border-color: #ad1fb3;
}
.elementor-9 .elementor-element.elementor-element-64bb0e3b .elementor-button {
    font-family: "Staatliches", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #bb00ff00;
    border-style: solid;
    border-color: #ad1fb3;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -2px 0px 6px 0px rgba(255, 255, 255, 0.11);
}
.elementor-9
    .elementor-element.elementor-element-64bb0e3b
    .elementor-button:hover,
.elementor-9
    .elementor-element.elementor-element-64bb0e3b
    .elementor-button:focus {
    background-color: #ad1fb3;
    border-color: #ad1fb3;
}
.elementor-9
    .elementor-element.elementor-element-bd3c0fb:not(.elementor-motion-effects-element-type-background)
    > .elementor-widget-wrap,
.elementor-9
    .elementor-element.elementor-element-bd3c0fb
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-image: url("../../2024/01/404\ Highway\ Solana\ \(1\).png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.elementor-9
    .elementor-element.elementor-element-bd3c0fb
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-9
    .elementor-element.elementor-element-bd3c0fb
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9 .elementor-element.elementor-element-78f59972 {
    text-align: right;
}
.elementor-9 .elementor-element.elementor-element-78f59972 img {
    opacity: 0;
}
.elementor-9 .elementor-element.elementor-element-8105b6d {
    --display: flex;
    --min-height: 410px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-block-start: 100px;
    --padding-block-end: 100px;
    --padding-inline-start: 100px;
    --padding-inline-end: 100px;
}
.elementor-9
    .elementor-element.elementor-element-8105b6d:not(.elementor-motion-effects-element-type-background),
.elementor-9
    .elementor-element.elementor-element-8105b6d
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-9 .elementor-element.elementor-element-8105b6d,
.elementor-9 .elementor-element.elementor-element-8105b6d::before {
    --border-transition: 0.3s;
}
.elementor-9 .elementor-element.elementor-element-22d3e9a {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-22d3e9a
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Staatliches", Sans-serif;
    font-size: 58px;
    font-weight: 600;
}
.elementor-9 .elementor-element.elementor-element-c4ddd75 {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-c4ddd75
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Ruda", Sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.elementor-9
    .elementor-element.elementor-element-c4ddd75
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}
.elementor-9
    .elementor-element.elementor-element-1c622e68
    > .elementor-container {
    min-height: 778px;
}
.elementor-9
    .elementor-element.elementor-element-1c622e68:not(.elementor-motion-effects-element-type-background),
.elementor-9
    .elementor-element.elementor-element-1c622e68
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ad1fb3;
}
.elementor-9 .elementor-element.elementor-element-1c622e68 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-9
    .elementor-element.elementor-element-1c622e68
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9 .elementor-element.elementor-element-19db586f img {
    width: 74%;
    border-radius: 20px 20px 20px 20px;
}
.elementor-9
    .elementor-element.elementor-element-7136eb3b
    > .elementor-element-populated {
    margin: 50px 50px 50px 50px;
    --e-column-margin-right: 50px;
    --e-column-margin-left: 50px;
}
.elementor-9
    .elementor-element.elementor-element-338de9b4
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Staatliches", Sans-serif;
    font-size: 58px;
    font-weight: 600;
}
.elementor-9
    .elementor-element.elementor-element-29e9163a
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Ruda", Sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.elementor-9
    .elementor-element.elementor-element-29e9163a
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}
.elementor-9
    .elementor-element.elementor-element-23f269af
    > .elementor-container {
    min-height: 622px;
}
.elementor-9
    .elementor-element.elementor-element-23f269af:not(.elementor-motion-effects-element-type-background),
.elementor-9
    .elementor-element.elementor-element-23f269af
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-9 .elementor-element.elementor-element-23f269af {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-9
    .elementor-element.elementor-element-23f269af
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9
    .elementor-element.elementor-element-57f83370
    > .elementor-element-populated {
    margin: 70px 70px 70px 70px;
    --e-column-margin-right: 70px;
    --e-column-margin-left: 70px;
}
.elementor-9 .elementor-element.elementor-element-20d040c2 {
    text-align: left;
}
.elementor-9
    .elementor-element.elementor-element-20d040c2
    .elementor-heading-title {
    color: #ad1fb3;
    font-family: "Staatliches", Sans-serif;
    font-size: 135px;
    font-weight: 800;
    -webkit-text-stroke-width: 0.1px;
    stroke-width: 0.1px;
    -webkit-text-stroke-color: #ffffff;
    stroke: #ffffff;
}
.elementor-9
    .elementor-element.elementor-element-20d040c2
    > .elementor-widget-container {
    margin: -14px 0px 0px 0px;
}
.elementor-9 .elementor-element.elementor-element-ba715d6 {
    text-align: left;
}
.elementor-9
    .elementor-element.elementor-element-ba715d6
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Ruda", Sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.elementor-9
    .elementor-element.elementor-element-ba715d6
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}
.elementor-9
    .elementor-element.elementor-element-f4d144e
    > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin: 70px 70px 70px 70px;
    --e-column-margin-right: 70px;
    --e-column-margin-left: 70px;
}
.elementor-9
    .elementor-element.elementor-element-f4d144e
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9 .elementor-element.elementor-element-575af7f {
    text-align: right;
}
.elementor-9
    .elementor-element.elementor-element-3d95090b
    > .elementor-container {
    min-height: 683px;
}
.elementor-9
    .elementor-element.elementor-element-3d95090b:not(.elementor-motion-effects-element-type-background),
.elementor-9
    .elementor-element.elementor-element-3d95090b
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-9 .elementor-element.elementor-element-3d95090b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 001px 0px 0px 0px;
}
.elementor-9
    .elementor-element.elementor-element-3d95090b
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9
    .elementor-element.elementor-element-7080f118
    > .elementor-element-populated {
    margin: -29px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 30px 0px 100px;
}
.elementor-9
    .elementor-element.elementor-element-227c1721
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Ruda", Sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.elementor-9
    .elementor-element.elementor-element-227c1721
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}
.elementor-9
    .elementor-element.elementor-element-24c698d0
    > .elementor-element-populated {
    margin: -29px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 30px 0px 100px;
}
.elementor-9
    .elementor-element.elementor-element-1f7832eb
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Staatliches", Sans-serif;
    font-size: 68px;
    font-weight: 600;
}
.elementor-9
    .elementor-element.elementor-element-18995d69
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Ruda", Sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.elementor-9
    .elementor-element.elementor-element-18995d69
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}
.elementor-9
    .elementor-element.elementor-element-5938f6
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Ruda", Sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.elementor-9
    .elementor-element.elementor-element-5938f6
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}
.elementor-9 .elementor-element.elementor-element-8693099 .elementor-button {
    font-family: "Staatliches", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #bb00ff00;
    border-style: solid;
    border-color: #ad1fb3;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -2px 0px 6px 0px rgba(255, 255, 255, 0.11);
}
.elementor-9
    .elementor-element.elementor-element-8693099
    .elementor-button:hover,
.elementor-9
    .elementor-element.elementor-element-8693099
    .elementor-button:focus {
    background-color: #ad1fb3;
    border-color: #ad1fb3;
}
.elementor-9 .elementor-element.elementor-element-73b6a6f9 .elementor-button {
    font-family: "Staatliches", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #ad1fb3;
    border-style: solid;
    border-color: #ad1fb3;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -2px 0px 6px 0px rgba(255, 255, 255, 0.11);
}
.elementor-9
    .elementor-element.elementor-element-73b6a6f9
    .elementor-button:hover,
.elementor-9
    .elementor-element.elementor-element-73b6a6f9
    .elementor-button:focus {
    background-color: #02010100;
    border-color: #ad1fb3;
}
.elementor-9 .elementor-element.elementor-element-22d8218 {
    --display: flex;
    --min-height: 671px;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
}
.elementor-9
    .elementor-element.elementor-element-22d8218:not(.elementor-motion-effects-element-type-background),
.elementor-9
    .elementor-element.elementor-element-22d8218
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-9 .elementor-element.elementor-element-22d8218,
.elementor-9 .elementor-element.elementor-element-22d8218::before {
    --border-transition: 0.3s;
}
.elementor-9 .elementor-element.elementor-element-b2ec264 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}
.elementor-9 .elementor-element.elementor-element-588917e {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-588917e
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Staatliches", Sans-serif;
    font-size: 68px;
    font-weight: 600;
}
.elementor-9 .elementor-element.elementor-element-30439ec {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-30439ec
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Ruda", Sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.elementor-9
    .elementor-element.elementor-element-30439ec
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}
.elementor-9 .elementor-element.elementor-element-bb7f6ad {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --border-radius: 13px 13px 13px 13px;
    --margin-block-start: 20px;
    --margin-block-end: 20px;
    --margin-inline-start: 20px;
    --margin-inline-end: 20px;
    --padding-block-start: 100px;
    --padding-block-end: 100px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}
.elementor-9
    .elementor-element.elementor-element-bb7f6ad:not(.elementor-motion-effects-element-type-background),
.elementor-9
    .elementor-element.elementor-element-bb7f6ad
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ad1fb3;
}
.elementor-9 .elementor-element.elementor-element-bb7f6ad,
.elementor-9 .elementor-element.elementor-element-bb7f6ad::before {
    --border-transition: 0.3s;
}
.elementor-9 .elementor-element.elementor-element-7d011f8 {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-7d011f8
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Staatliches", Sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.elementor-9 .elementor-element.elementor-element-b5b522e {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-b5b522e
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Ruda", Sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.elementor-9
    .elementor-element.elementor-element-b5b522e
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}
.elementor-9 .elementor-element.elementor-element-5a64dd7 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --border-radius: 13px 13px 13px 13px;
    --margin-block-start: 20px;
    --margin-block-end: 20px;
    --margin-inline-start: 20px;
    --margin-inline-end: 20px;
    --padding-block-start: 100px;
    --padding-block-end: 100px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}
.elementor-9
    .elementor-element.elementor-element-5a64dd7:not(.elementor-motion-effects-element-type-background),
.elementor-9
    .elementor-element.elementor-element-5a64dd7
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ad1fb3;
}
.elementor-9 .elementor-element.elementor-element-5a64dd7,
.elementor-9 .elementor-element.elementor-element-5a64dd7::before {
    --border-transition: 0.3s;
}
.elementor-9 .elementor-element.elementor-element-62f175f {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-62f175f
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Staatliches", Sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.elementor-9 .elementor-element.elementor-element-1b75ad3 .elementor-button {
    font-family: "Staatliches", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #000000;
    border-style: solid;
    border-color: #ad1fb3;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -2px 0px 6px 0px rgba(255, 255, 255, 0.11);
}
.elementor-9
    .elementor-element.elementor-element-1b75ad3
    .elementor-button:hover,
.elementor-9
    .elementor-element.elementor-element-1b75ad3
    .elementor-button:focus {
    background-color: #ad1fb3;
    border-color: #ad1fb3;
}
.elementor-9 .elementor-element.elementor-element-4effd32 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --border-radius: 13px 13px 13px 13px;
    --margin-block-start: 20px;
    --margin-block-end: 20px;
    --margin-inline-start: 20px;
    --margin-inline-end: 20px;
    --padding-block-start: 100px;
    --padding-block-end: 100px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
}
.elementor-9
    .elementor-element.elementor-element-4effd32:not(.elementor-motion-effects-element-type-background),
.elementor-9
    .elementor-element.elementor-element-4effd32
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ad1fb3;
}
.elementor-9 .elementor-element.elementor-element-4effd32,
.elementor-9 .elementor-element.elementor-element-4effd32::before {
    --border-transition: 0.3s;
}
.elementor-9 .elementor-element.elementor-element-110465c {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-110465c
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Staatliches", Sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.elementor-9
    .elementor-element.elementor-element-706fc9
    > .elementor-container {
    min-height: 631px;
}
.elementor-9
    .elementor-element.elementor-element-706fc9:not(.elementor-motion-effects-element-type-background),
.elementor-9
    .elementor-element.elementor-element-706fc9
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-9 .elementor-element.elementor-element-706fc9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
}
.elementor-9
    .elementor-element.elementor-element-706fc9
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9 .elementor-element.elementor-element-d04eb13 img {
    width: 18%;
    border-radius: 360px 360px 360px 360px;
}
.elementor-9 .elementor-element.elementor-element-776e74f6 {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-776e74f6
    .elementor-heading-title {
    color: #ad1fb3;
    font-family: "Staatliches", Sans-serif;
    font-size: 74px;
    font-weight: 600;
}
.elementor-9 .elementor-element.elementor-element-511166f5 {
    text-align: center;
    color: #ffffff;
    font-family: "Ruda", Sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.elementor-9
    .elementor-element.elementor-element-511166f5
    > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}
.elementor-9 .elementor-element.elementor-element-45fcdedb .elementor-button {
    font-family: "Staatliches", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: #bb00ff00;
    border-style: solid;
    border-color: #ad1fb3;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -2px 0px 6px 0px rgba(255, 255, 255, 0.11);
    padding: 16px 50px 16px 50px;
}
.elementor-9
    .elementor-element.elementor-element-45fcdedb
    .elementor-button:hover,
.elementor-9
    .elementor-element.elementor-element-45fcdedb
    .elementor-button:focus {
    background-color: #ad1fb3;
    border-color: #ad1fb3;
}
.elementor-9 .elementor-element.elementor-element-3d39b21 {
    --grid-template-columns: repeat(0, auto);
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}
.elementor-9
    .elementor-element.elementor-element-3d39b21
    .elementor-widget-container {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-3d39b21
    .elementor-social-icon {
    background-color: #02010100;
}
.elementor-9
    .elementor-element.elementor-element-3d39b21
    .elementor-social-icon
    i {
    color: #ad1fb3;
}
.elementor-9
    .elementor-element.elementor-element-3d39b21
    .elementor-social-icon
    svg {
    fill: #ad1fb3;
}
.elementor-9
    .elementor-element.elementor-element-7d562b2f
    > .elementor-container
    > .elementor-column
    > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-9
    .elementor-element.elementor-element-7d562b2f:not(.elementor-motion-effects-element-type-background),
.elementor-9
    .elementor-element.elementor-element-7d562b2f
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #000000;
}
.elementor-9 .elementor-element.elementor-element-7d562b2f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 100px 0px 100px 0px;
}
.elementor-9
    .elementor-element.elementor-element-7d562b2f
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-9
    .elementor-element.elementor-element-bdeaac9
    > .elementor-element-populated {
    padding: 0% 25% 0% 25%;
}
.elementor-9 .elementor-element.elementor-element-58e96bc4 {
    text-align: center;
}
.elementor-9
    .elementor-element.elementor-element-58e96bc4
    .elementor-heading-title {
    color: #ffffff;
    font-family: "Staatliches", Sans-serif;
    font-size: 32px;
    font-weight: 600;
}
@media (max-width: 1024px) {
    .elementor-9 .elementor-element.elementor-element-7d562b2f {
        padding: 50px 25px 50px 25px;
    }
    .elementor-9
        .elementor-element.elementor-element-bdeaac9
        > .elementor-element-populated {
        padding: 0px 100px 0px 100px;
    }
}
@media (min-width: 768px) {
    .elementor-9 .elementor-element.elementor-element-7eb35b51 {
        width: 59.819%;
    }
    .elementor-9 .elementor-element.elementor-element-bd3c0fb {
        width: 40.133%;
    }
    .elementor-9 .elementor-element.elementor-element-57f83370 {
        width: 43.816%;
    }
    .elementor-9 .elementor-element.elementor-element-f4d144e {
        width: 56.184%;
    }
    .elementor-9 .elementor-element.elementor-element-7080f118 {
        width: 24.11%;
    }
    .elementor-9 .elementor-element.elementor-element-24c698d0 {
        width: 75.726%;
    }
    .elementor-9 .elementor-element.elementor-element-b2ec264 {
        --width: 100%;
    }
    .elementor-9 .elementor-element.elementor-element-bb7f6ad {
        --width: 29%;
    }
    .elementor-9 .elementor-element.elementor-element-5a64dd7 {
        --width: 29%;
    }
    .elementor-9 .elementor-element.elementor-element-4effd32 {
        --width: 29%;
    }
}
@media (max-width: 1024px) and (min-width: 768px) {
    .elementor-9 .elementor-element.elementor-element-4effd32 {
        --width: 25%;
    }
}
@media (max-width: 767px) {
    .elementor-9 .elementor-element.elementor-element-43e180b7 {
        width: 25%;
    }
    .elementor-9 .elementor-element.elementor-element-657ee363 {
        width: 25%;
    }
    .elementor-9
        .elementor-element.elementor-element-30e3ee9
        .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-9 .elementor-element.elementor-element-4714c163 {
        width: 25%;
    }
    .elementor-9
        .elementor-element.elementor-element-ad6b8ca
        .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-9 .elementor-element.elementor-element-11185a1f {
        width: 25%;
    }
    .elementor-9
        .elementor-element.elementor-element-64bd9e44
        .elementor-heading-title {
        font-size: 14px;
    }
    .elementor-9
        .elementor-element.elementor-element-76d7237c
        .elementor-button {
        font-size: 14px;
    }
    .elementor-9
        .elementor-element.elementor-element-2659629f
        > .elementor-container {
        min-height: 996px;
    }
    .elementor-9 .elementor-element.elementor-element-2659629f {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .elementor-9
        .elementor-element.elementor-element-7eb35b51
        > .elementor-element-populated {
        margin: 16px 16px 16px 16px;
        --e-column-margin-right: 16px;
        --e-column-margin-left: 16px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-9 .elementor-element.elementor-element-3d44c75b img {
        width: 61%;
    }
    .elementor-9
        .elementor-element.elementor-element-6e44a510
        .elementor-heading-title {
        font-size: 47px;
    }
    .elementor-9
        .elementor-element.elementor-element-6e44a510
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-9
        .elementor-element.elementor-element-49d55d8d
        .elementor-heading-title {
        font-size: 126px;
    }
    .elementor-9
        .elementor-element.elementor-element-49d55d8d
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-9
        .elementor-element.elementor-element-2ed753ea
        .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-9 .elementor-element.elementor-element-6411b656 {
        width: 50%;
    }
    .elementor-9 .elementor-element.elementor-element-ab601d .elementor-button {
        font-size: 13px;
    }
    .elementor-9 .elementor-element.elementor-element-1a4a4d53 {
        width: 50%;
    }
    .elementor-9
        .elementor-element.elementor-element-64bb0e3b
        .elementor-button {
        font-size: 13px;
    }
    .elementor-9 .elementor-element.elementor-element-8105b6d {
        --padding-block-start: 020px;
        --padding-block-end: 020px;
        --padding-inline-start: 020px;
        --padding-inline-end: 020px;
    }
    .elementor-9
        .elementor-element.elementor-element-22d3e9a
        .elementor-heading-title {
        font-size: 47px;
    }
    .elementor-9
        .elementor-element.elementor-element-22d3e9a
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-9
        .elementor-element.elementor-element-c4ddd75
        .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-9
        .elementor-element.elementor-element-338de9b4
        .elementor-heading-title {
        font-size: 47px;
    }
    .elementor-9
        .elementor-element.elementor-element-338de9b4
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-9
        .elementor-element.elementor-element-29e9163a
        .elementor-heading-title {
        font-size: 20px;
    }
    .elementor-9
        .elementor-element.elementor-element-57f83370
        > .elementor-element-populated {
        margin: -131px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-9
        .elementor-element.elementor-element-20d040c2
        .elementor-heading-title {
        font-size: 75px;
    }
    .elementor-9
        .elementor-element.elementor-element-20d040c2
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-9
        .elementor-element.elementor-element-ba715d6
        .elementor-heading-title {
        font-size: 18px;
    }
    .elementor-9
        .elementor-element.elementor-element-f4d144e
        > .elementor-element-populated {
        margin: 10px 10px 10px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }
    .elementor-9 .elementor-element.elementor-element-575af7f img {
        width: 100%;
    }
    .elementor-9
        .elementor-element.elementor-element-3d95090b
        > .elementor-container {
        min-height: 586px;
    }
    .elementor-9
        .elementor-element.elementor-element-24c698d0
        > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 30px 30px 30px 30px;
    }
    .elementor-9 .elementor-element.elementor-element-1f7832eb {
        text-align: center;
    }
    .elementor-9
        .elementor-element.elementor-element-1f7832eb
        .elementor-heading-title {
        font-size: 40px;
    }
    .elementor-9 .elementor-element.elementor-element-18995d69 {
        text-align: center;
    }
    .elementor-9
        .elementor-element.elementor-element-18995d69
        .elementor-heading-title {
        font-size: 18px;
    }
    .elementor-9
        .elementor-element.elementor-element-588917e
        .elementor-heading-title {
        font-size: 40px;
    }
    .elementor-9
        .elementor-element.elementor-element-30439ec
        .elementor-heading-title {
        font-size: 18px;
    }
    .elementor-9
        .elementor-element.elementor-element-7d011f8
        .elementor-heading-title {
        font-size: 40px;
    }
    .elementor-9
        .elementor-element.elementor-element-b5b522e
        .elementor-heading-title {
        font-size: 18px;
    }
    .elementor-9
        .elementor-element.elementor-element-62f175f
        .elementor-heading-title {
        font-size: 40px;
    }
    .elementor-9
        .elementor-element.elementor-element-110465c
        .elementor-heading-title {
        font-size: 40px;
    }
    .elementor-9 .elementor-element.elementor-element-d04eb13 img {
        width: 52%;
    }
    .elementor-9
        .elementor-element.elementor-element-776e74f6
        .elementor-heading-title {
        font-size: 47px;
    }
    .elementor-9
        .elementor-element.elementor-element-776e74f6
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-9 .elementor-element.elementor-element-511166f5 {
        font-size: 18px;
    }
    .elementor-9 .elementor-element.elementor-element-7d562b2f {
        padding: 50px 25px 50px 25px;
    }
    .elementor-9
        .elementor-element.elementor-element-bdeaac9
        > .elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }
    .elementor-9
        .elementor-element.elementor-element-58e96bc4
        .elementor-heading-title {
        font-size: 40px;
    }
}
